**
!Dockerfile
!pyproject.toml
!uv.lock
!LICENSE
!README.md
!README.zh-CN.md
!TESTING.md
!CONTRIBUTING.md
!SECURITY.md
!THIRD_PARTY_NOTICES.md
!.env.example
!src/
!src/**
!scripts/
!scripts/**
!datasets/
!datasets/**
!tests/
!tests/**
!docs/
!docs/**
!examples/
!examples/**
**/__pycache__/
**/*.pyc
